
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333333;
    font-size: 36px;
    margin-bottom: 30px;
}
.search-container {
    text-align: center;
    margin-bottom: 30px;
}
.search-container input[type=text] {
    padding: 15px;
    width: 600px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
.search-container button {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.search-container button:hover {
    background-color: #45a049;
}
.question-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardAnswer {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
.cardAnswer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cardAnswer h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    font-size: 24px;
}
.cardAnswer p {
    margin-top: 0;
    margin-bottom: 0;
    color: #666666;
    font-size: 16px;
}
.select-box ul {
    margin: 0;
    padding: 0;
    margin: 5px 0 0 12px;
    padding: 5px 0 5px 16px;
    border-left: 1px solid rgba(30,30,30,0.1);
}
.select-box li {
    background: white;
    box-shadow: 3px 3px 5px 2px rgb(0 0 0 / 1%);
    border-radius: 10px;
    padding: 6px 12px 6px 10px;
    display: inline-block;
    border: 0.5px solid #6260cd;
    margin: 0 7px 10px 0;
    font-size: 13.5px;
    cursor: pointer;
}
.select-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}
