body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
.container {
    max-width: max-content;
    margin: 0 auto;
    padding: 20px;
}
h2 {
    text-align: center;
    color: #333333;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.container button {
    padding: 25px 85px;
    background-color: #6260cd;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
    font-weight: 700;
}
.container button:hover {
    background-color: #4d4bcb;
}