
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: #d2d1f5;
    border-bottom: solid 3px #bab9ff ;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}
/* .nav_logo {
    color: var(--text-color);
}
.nav_logo a {
    color: var(--accent-color);
} */
.nav_logo img {
    height: 50px;
    width: 50px;
}
.nav_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav_menu li {
    padding: 0px 20px;
}
.nav_menu li:hover {
    /* color: var(--background-color);
    background-color: var(--accent-color); */
    border-radius: 4px;
}
/* .nav_menu li a:hover {
    color: var(--background-color);
} */
.nav_menu a {
    text-decoration: none;
    color: #4d4bcb;
    font-size: 20px;
    font-weight: 800;
}
/* .nav_icons {
    display: flex;
    color: #7dc0ff;
    list-style: none;
    padding-left: 0;
}
.nav_icons li {
    padding: 8px 5px;
}
.navbar_toggleBtn {
    display: none;
    color:var(--text-color);
    position: absolute;
    right: 32px;
    font-size: 24px;
} */
.container {
    max-width: max-content;
    margin: 0 auto;
    padding: 20px;
}
h2 {
    text-align: center;
    color: #333333;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.search-container {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 95px;
}
.search-container input[type=text] {
    padding: 15px;
    width: 600px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
.search-container button {
    padding: 25px 85px;
    background-color: #6260cd;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
    font-weight: 700;
}
.search-container button:hover {
    background-color: #4d4bcb;
}
.question-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardAnswer {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
.cardAnswer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cardAnswer h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
    font-size: 24px;
}
.cardAnswer p {
    margin-top: 0;
    margin-bottom: 0;
    color: #666666;
    font-size: 16px;
}
.select-area{
    margin-top: 140px;
}
fieldset {
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}
.select-box {
    margin-top: 15px;
    margin-bottom: 50px;
}
.select-box label {
    margin: 0;
    padding: 0;
    margin: 0 0 0 50px;
    padding: 5px 0 5px 16px;
    border-left: 1px solid rgba(30,30,30,0.1);
}
.select-box input {
    background: white;
    box-shadow: 3px 3px 5px 2px rgb(0 0 0 / 1%);
    border-radius: 10px;
    padding: 6px 12px 6px 10px;
    display: inline-block;
    border: 0.5px solid #6260cd;
    margin: 0 7px 10px 0;
    font-size: 13.5px;
    cursor: pointer;
}
.select_btn_two {
    background: rgb(111, 111, 111);
    box-shadow: 3px 3px 5px 2px rgb(0 0 0 / 1%);
    border-radius: 10px;
    padding: 6px 12px 6px 10px;
    display: inline-block;
    border: 0.5px solid #6260cd;
    margin: 0 7px 10px 0;
    font-size: 13.5px;
    cursor: pointer;
}
.select-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.card-container{
    margin-top: 80px;
    border: 4.5px solid #6260cd;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
}